body{
    background: #F4EDED;
}
header{
    font-family: "Cherry Bomb One", "system-ui";
    font-size: 128px;
    font align: center;
}
#pata1 {
    width:12.8%;
    height:12.8%;
    padding-left:20%;
    padding-right:80%;
}